[Unit]
Description=Comprobar nueva release estable del kernel Cizen (kernel-update.sh)
Documentation=man:kernel-update-notify.sh
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/kernel-update/kernel-update-notify.sh
TimeoutStartSec=90

[Install]
WantedBy=default.target